<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
    <meta charset="UTF-8">
    <title>List of vets</title>
</head>
<body>
<h2 th:text="'List of vets from thymeleaf'">List of vets</h2>

<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>first name</th>
        <th>last name</th>
    </tr>
    <tr th:each="vet : ${vets}">
        <td th:text="${vet.id}">123</td>
        <td th:text="${vet.firstName}"> Spring in Action</td>
        <td th:text="${vet.lastName}">Wrox</td>
    </tr>
</table>
</body>
</html>